@media screen and (min-width: 768px) {
    #menu {
        display: none;
    }
    
   .navigation {
        display: flex;
    }
    
   .navigation a {
        flex: 1 1 100%;
    }
    
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }
    
    h1 {
        grid-column: 1 / 3;
    }
    
   .courses {
        grid-column: 1 / 3;
    }
    
    #courseList {
        grid-template-columns: repeat(3, 1fr);
    }
}